<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pusing.pusing">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="pusing"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".layout2"
            android:label="@string/title_activity_layout2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout3"
            android:label="@string/title_activity_layout3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout4"
            android:label="@string/title_activity_layout4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".selesai"
            android:label="@string/title_activity_selesai"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>